<p style="font-size: 28px; text-align: center;">Recent Transactions</p>

<table *ngIf="investments && investments.length>0" class="table-hover table " style="width:100%">

  <tr  *ngFor="let investment of investments">
    <td>
      <div *ngIf="investment.status.donationsCompleted" class="status sent text-danger">SENT</div>
     <div *ngIf="investment.status.pairingsCompleted" class="status recieved text-success">RECIEVED</div>
      <div *ngIf="investment.status.pairingsCompleted" class="status sent text-danger">PENDING</div>
      <div *ngIf="!investment.status.pairingsCompleted && !investment.status.donationsCompleted " class="status recieved text-success">PENDING</div>
      <div class="date">
        @{{investment.updatedAt|date}}
      </div>
    </td>

    <td>
      <div>To: <span *ngIf="investment.donateTo.length>=1">{{investment.donateTo.length}}</span> <span *ngIf="investment.donateTo.length<1">Not Paired yet</span></div>
      <div>From: {{user.name}}</div>
    </td>
    <td>
      <!-- <span class="label label-success">GHC 300</span> -->
      <span class="label label-danger">GHC {{investment.amountInvested}}</span>
    </td>
    <td>
      <div>
        <button (click)="modal.open()"class="btn btn-success">
          Activate
        </button>
      </div>
      <div>
        <!-- <i class="fa fa-2x fa-check-circle text-success" aria-hidden="true"></i> -->
      </div>
      <!-- <div>-</div> -->
    </td>
  </tr>

  <tr>
    <td>
      <!-- <div class="status sent text-danger">SENT</div> -->
      <div class="status recieved text-success">RECIEVED</div>
      <!-- <div class="status sent text-danger">PENDING</div> -->
      <!-- <div class="status recieved text-success">PENDING</div> -->
      <div class="date">
        @{{'2011-10-05T14:48:00.000Z'|date}}
      </div>
    </td>

    <td>
      <div>To: 024388699</div>
      <div>From:</div>
    </td>
    <td>
      <span class="label label-success">GHC 300</span>
      <!-- <span class="label label-danger">GHC 200</span> -->
    </td>
    <td>
      <div>
        <!-- <button class="btn btn-success"> Activate </button> -->
      </div>
      <div>
        <i class="fa fa-2x fa-check-circle text-success" aria-hidden="true"></i>
      </div>
      <!-- <div>-</div> -->
    </td>
  </tr>

</table>

<div *ngIf="!investments || investments.length<1">
  You dont have any invest ments yet, click here to invest
</div>
<bs-modal #modal>
  <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">I'm a modal!</h4>
  </bs-modal-header>
  <bs-modal-body>
      Hello World!
  </bs-modal-body>
  <bs-modal-footer [showDefaultButtons]="true"></bs-modal-footer>
</bs-modal>