.status{
    font-weight: bold;
}
.date{
    font-style: italic;
    color: #777;
}

body, html {
    background: white;
}

.w3-main {
    margin-top: 0px !important;
}

.label-danger {
    background-color: #ff7701;
}


.btn-success {
    color: #222946;
    background: none;
    border-color: #222946;
    border-radius: 0;
    border: none;
    text-decoration: underline;
    padding: 10px 0;
}

.btn-success:hover, .btn-success:focus {
    color: #ff7701;
    background: none;
}

tr {
    background: #fff;
}

.table-hover>tbody>tr:hover {
    background: #fff;
}

.text-success {
    color: #222946;
}

.table {
    width: 90%;
    max-width: 90%;
    margin-bottom: 20px;
    margin: 0 auto 20px auto;
    box-shadow: 0px 0px 5px silver;
}